body, html, ul{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Chakra Petch", sans-serif;
}
:root{
    --background-color: #f8fafc;
}
img:hover{
    cursor: pointer;
}
.container{
    display: grid;
    grid-template-rows: 1fr 1fr 10fr;
    grid-template-columns: 1fr 5fr;
    width: 100vw;   /* Full viewport width */
    height: 100vh;  /* Full viewport height */
}
.side-bar{
    grid-row: 1 / 4 ;
    background-color: #312e81;
}
li{
    display: flex;
    align-items: center;
    padding: 5px;
    margin-left: 5px;
    color: #f1f5f9;
    font-weight: 900;
    font-size: large;
    cursor: pointer;
}
li img{
    width: 2rem;
    height: 2rem;
    margin-right: 5px;  
}
.side-bar .custom-list li:nth-child(7) {
    margin-bottom: 50vh; 
}
#dashboard{
    font-size: 30px;
}
#dashboard-icon{
    width: 3rem;
    height: 3rem;
}

.header{
    grid-row: 1 / 3;
    background-color: var(--background-color);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.10);
    z-index: 10;
}
.header > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-top-left{
    display: flex;
    gap: 10px;
    margin-left: 2rem;
}
input{
    width: 400px;
    border-radius: 10px;
    background-color: #f1f5f9;
}
.header-top-right{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-right: 2rem;
}
.buttons{
    border-radius: 10px;
    width: 8rem;
    height: 2rem;
    background-color: #bef264;
    padding: 5px;
    margin-right: 1rem;
    font-weight: 900;
    cursor: pointer;
}
.buttons:hover{
    background-color:#65a30d;
    color: white;
}
.header-bottom-left{
    display: flex;
    align-items: center;
    margin-left: 2rem;
}
strong{
    font-size: 1.5rem;
    cursor: pointer;
}
#hi{
    font-weight: 900;
    font-size: 0.9rem;
}
.icon{
    width: 2rem;
    height: 2rem;
}
#pp-top{
    width: 4rem;
    height: 4rem;
}
#pp-mid{
    width: 6rem;
    height: 6rem;
}

.content{
    background-color: #f3f4f6;
    display: flex;
    z-index: 1;
    justify-content: space-evenly;
}
.card-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
}
.cards{
    background-color: var(--background-color);
    width: 450px;
    height: 190px;
    padding: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.10);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: relative;
}
.cards > h4{
    margin: 0;
}
.content-icons{
    display: flex;
    width: 2rem;
    height: 2rem;
    position: absolute;
    bottom: 10px;
    right: 5rem;
    gap: 0.3rem;
}
.side-content{
    white-space: nowrap;
}
.announcements{
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.10);
    background-color: var(--background-color);
    border-radius: 10px;
    padding: 1rem;
    max-width: 100%;
    max-height: 100%;
}
.snippet > h4{
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}
hr {
    border: none;
    border-top: 1px solid #ccc; 
  } 
.trending{
    background-color: var(--background-color);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.10);
    padding: 10px;
    border-radius: 10px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 1.5rem;
}
.trending img{
    width: 3rem;
    height: 3rem;
}
.trending-cards{
    display: flex;
    align-items: center;
    gap: 10px;
}
.trending-text > p{
    margin: 5px;
}
.trending-text-sub{
    color: #4b5563;
}
.user-tag{
    cursor: pointer;
}